In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# criando os dados em base da tabela 2.2
data = {'Nome':['João da Silva', 'Pedro Fernandes', 'Maria Freitas', 'Paula Gonçalves', 
                'Ana Freitas', 'Luiz Costa', 'André Souza', 'Patrícia Silva', 'Regina Lima', 
                'Alfredo Souza', 'Margarete Cunha', 'Pedro Barbosa', 'Ricardo Alves', 
                'Márcio Rezende', 'Ana Carolina Chaves'],
        'Idade':[36, 51,26,25,29,53,42,38,35,45,26,37,24,31,29],
        'Salário':[6300,5700,4500,3800,3200,7300,7100,5600,6400,7000,3700,6500,4000,5100,4500]}

# cria-se um DataFrame (apenas para manipulação)
df = pd.DataFrame(data)

In [3]:
df

                   Nome  Idade  Salário
0         João da Silva     36     6300
1       Pedro Fernandes     51     5700
2         Maria Freitas     26     4500
3       Paula Gonçalves     25     3800
4           Ana Freitas     29     3200
5            Luiz Costa     53     7300
6           André Souza     42     7100
7        Patrícia Silva     38     5600
8           Regina Lima     35     6400
9         Alfredo Souza     45     7000
10      Margarete Cunha     26     3700
11        Pedro Barbosa     37     6500
12        Ricardo Alves     24     4000
13       Márcio Rezende     31     5100
14  Ana Carolina Chaves     29     4500

<h1>Atividade 3.1</h1>
<p>&emsp;&emsp;Calcule a média, a moda e a mediana para esses dados, especificando
as respectivas unidades.

In [4]:
#média
df.mean()

Idade        35.133333
Salário    5380.000000
dtype: float64

In [6]:
#médiana
df.median()

Idade        35.0
Salário    5600.0
dtype: float64

In [8]:
#moda
df['Salário'].mode()

0    4500
dtype: int64

<h1>Atividade 3.2</h1>
<p>&emsp;&emsp;Calcule a nota m´edia, a nota modal e a nota mediana para os dados da tabela 3.1.

In [11]:
tabela3_1=[2.9, 3.7, 3.8, 4.7, 4.9, 5.2, 5.6, 5.8, 6.0, 6.2,
           6.3, 6.3, 6.3, 6.5, 6.5, 6.6, 6.8, 6.8, 6.9, 6.9,
           7.0, 7.0, 7.1, 7.3, 7.3, 7.4, 7.4, 7.5, 7.5, 7.6,
           7.6, 7.7, 7.7, 7.9, 8.1, 8.1, 8.2, 8.2, 8.3, 8.3,
           8.4, 8.5, 8.7, 8.7, 8.8, 8.9, 9.0, 9.1, 9.4, 9.7,]

In [23]:
tb3 = pd.DataFrame()
tb3['notas'] = tabela3_1

In [24]:
#médiana
tb3.median()

notas    7.35
dtype: float64

In [25]:
#media
tb3.mean()

notas    7.142
dtype: float64

In [27]:
#moda
tb3['notas'].mode()

0    6.3
dtype: float64

<h1>Atividade 3.4</h1>
<p>&emsp;&emsp;Segundo o critério de avaliação adotado pelo Departamento de Estatistica,cada aluno sera submetido a 2 provas, a primeira tendo peso 2
e a segunda tendo peso 3. Para ser aprovado sem ter que fazer prova final,
a méedia nas 2 provas tem que ser, no mınimo, 6. Se um aluno tirar 5,5 na
primeira prova, quanto devera tirar na segunda prova para nao ter que fazer
prova final? E se as provas tivessem o mesmo peso?


<p>&emsp;&emsp;<n style="color: Grey">Mp = (5,5·3 + x·2 / 3 + 2)>=(6)</n>
<p>&emsp;&emsp;<n style="color: Grey">6,75.</n>

<p>&emsp;&emsp;<n style="color: Grey">Mp = (5,5·2 + x·2 / 2 + 2) >=(6)</n>
<p>&emsp;&emsp;<n style="color: Grey">6,5.</n>

<h1>Atividade 3.5</h1>
<p>&emsp;&emsp;A relacao entre as escalas Celsius e Fahrenheit e a seguinte:
<p>&emsp;&emsp;&emsp;<n style="color: Grey">C = 5/9(F − 32)</n>
<p>&emsp;&emsp;Se a temperatura media em determinada localidade e de 45◦F, qual e a
temperatura media em graus Celsius?
<p>&emsp;&emsp;&emsp;&emsp;<n>7,22<n>