revisão series e data frame.
passo 1.

In [1]:
import pandas as pd
import numpy as np

passo 2

In [17]:
Evolucao_Dict = { 'Evolução': ['Ivysaur','Charmeleon','Wartortle','Metapod']}
Hp_Dict = { 'HP' : ['45','39','44','45' ]}
Nome_Dict = {'Nome' :['Bulbassaur','Charmander','Watortle','Metapod']}
Pokedex_Dict = {'Pokedex':['sim','não','sim','não']}
Tipo_Dict = {'Tipo':['Planta','fogo','água','inseto']}

passo 3

In [44]:
Evolucao_serie = pd.Series(['Ivysaur','Charmeleon','Wartortle','Metapod'])
Hp_serie = pd.Series(['45','39','44','45' ])
Nome_serie = pd.Series(['Bulbassaur','Charmander','Watortle','Metapod'])
Pokedex_serie = pd.Series(['sim','não','sim','não'])
Tipo_serie = pd.Series(['Planta','fogo','água','inseto'])

## passo 4

In [48]:
Dados = dict()
Dados.update(Evolucao_Dict)
Dados.update(Hp_Dict)
Dados.update(Nome_Dict)
Dados.update(Pokedex_Dict)
Dados.update(Tipo_Dict)

Dados_frame = pd.DataFrame(Dados)
Dados_frame

Dados_serie = pd.Series()
Dados_serie = pd.concat ([Evolucao_serie, Hp_serie, Nome_serie, Pokedex_serie, Tipo_serie], axis = 1)

Dados_serie_frame = pd.DataFrame(Dados_serie)
Dados_serie_frame.columns = ['Nome','Evolução','Tipo','HP','Pokedex']

## passo 5

In [23]:
Dados_frame = pd.DataFrame(Dados)
Dados_frame

pd.DataFrame(Dados_frame, columns = ['Nome','Evolução','Tipo','HP','Pokedex'])

         Nome    Evolução    Tipo  HP Pokedex
0  Bulbassaur     Ivysaur  Planta  45     sim
1  Charmander  Charmeleon    fogo  39     não
2    Watortle   Wartortle    água  44     sim
3     Metapod     Metapod  inseto  45     não

## passo 6

In [26]:
Dados_frame.index =Dados_frame.Nome
Dados_frame.drop(['Nome'], axis=1)

              Evolução  HP Pokedex    Tipo
Nome
Bulbassaur     Ivysaur  45     sim  Planta
Charmander  Charmeleon  39     não    fogo
Watortle     Wartortle  44     sim    água
Metapod        Metapod  45     não  inseto

## passo 7

In [51]:
Dados_frame = pd.DataFrame(Dados)
Dados_frame['Notas']=[7,5,9,2]
Dados_frame

     Evolução  HP        Nome Pokedex    Tipo  Notas
0     Ivysaur  45  Bulbassaur     sim  Planta      7
1  Charmeleon  39  Charmander     não    fogo      5
2   Wartortle  44    Watortle     sim    água      9
3     Metapod  45     Metapod     não  inseto      2

## passo 8

In [57]:
Dados_frame.dtypes

Evolução    object
HP          object
Nome        object
Pokedex     object
Tipo        object
Notas        int64
dtype: object