In [1]:
import pandas as pd
import numpy as np

## step 2 e 3

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_table(url,sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## step 4

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## step 5

In [4]:
chipo2 = chipo.dropna()
len(chipo2)

3376

## step 6

In [5]:
len(chipo2.count())##foda POG STA

5

## Step 7

In [6]:
a = chipo.columns
for i in a: print(i)

order_id
quantity
item_name
choice_description
item_price

## step 8

ordem crescente

## step 9 e step 10

In [7]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

Chicken Bowl                             726

## step 11

In [8]:
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                             134
[Coke]                                                                                                                  123
[Sprite]                                                                                                                 77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                   42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                        40
                                                                                                                       ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Guacamole]]                                                               1
[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Cheese, Lettuce]]      1
[Fresh Tomato Salsa, [Black Beans, Pinto Beans, Cheese]]                                                                  1
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]                    1
[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]                                                          1
Name: choice_description, Length: 1043, dtype: int64

[Diet Coke] 134

## step 12

In [9]:
item_name = pd.DataFrame(chipo['item_name'].value_counts())
item_name['item_name'].sum()

4622

## step 13

In [10]:
chipo['item_price'].value_counts()

$8.75      730
$11.25     521
$9.25      398
$4.45      349
$8.49      311
          ...
$13.52       1
$5.07        1
$12.98       1
$7.98        1
$22.96       1
Name: item_price, Length: 78, dtype: int64

## step 13

In [11]:
valores = (chipo['item_price'])

valores = valores.apply(lambda x: x.replace('$', ""))

val = pd.DataFrame(valores)

val

val['item_price'] = val['item_price'].astype(float)

## step 14

In [12]:
val['item_price'].sum()

34500.16

## step 15

In [13]:
chipo['quantity'].sum()

4972

## step 16

In [14]:
x = val['item_price'].sum()
y = chipo['quantity'].sum()

x/y

6.938889782783589

## step 17

In [15]:
chipo['item_name'].value_counts().shape

(50,)